<div class="container-root-table d-flex justify-content-center">
  <div class=" table-container  mb-4">
    <h1 *ngIf="!isMobile" class=" mb-0 pt-4 pb-1">Alergia</h1>
    <h1 *ngIf="isMobile" class=" mb-0 pt-4 pb-3 text-center">Alergia</h1>
    <hr class="mt-0" *ngIf="isMobile">
    <h2 *ngIf="!isMobile">aclaraciones varias</h2>
    <table class="table table-hover ">
      <tbody class="table-hover " *ngFor="let item of  userAllergies">
        <tr>
          <div class="container-flex">
            <div class="text-center text-name">{{item.allergyName}}</div>
            <div class="datos">
              <div class="grupo-datos buttons text-center d-flex gap-3">
                <a style="cursor: pointer;" class="me-2  tooltext color-trash" (click)="openDeleteModal(item
                )">
                  <i class="fa fa-trash fs-4"></i>
                  <span class="tooltiptext px-3 py-3" style="color: red;">
                    Este botón le permite eliminar una alergia
                  </span>
                </a>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class=" add-tracking-value-button  mx-2 d-flex  align-items-center mb-5 pb-5 mt-1">
  <ng-container *ngIf="isMobile">
    <a [routerLink]="['../enfermedades']" routerLinkActive="active" style="cursor: pointer;"
      class="d-flex flex-column text-decoration-none align-items-center navbar-item   tooltext" style="color:#001b71 ;">
      <i class="fa-solid  fa-file-medical color-icons-mobile fz-icons-mobile "></i><span
        class="fz-text-icons">Enfermedad</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia la pantalla de enfermedades
      </span>
    </a>

    <a [routerLink]="['../alergias']" routerLinkActive="active" style="cursor: pointer;"
      class=" d-flex flex-column text-decoration-none align-items-center navbar-item  tooltext" style="color:#001b71 ;">
      <i class="fa-solid  fa-virus fz-icons-mobile color-icons-mobile"></i><span class="fz-text-icons">Alergia</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia la pantalla de alergias
      </span>
    </a>
    <a [routerLink]="['../valores-laboratorio']" routerLinkActive="active" style="cursor: pointer;"
      class=" d-flex flex-column text-decoration-none align-items-center navbar-item  tooltext" style="color:#001b71 ;">
      <i class="fa-solid color-icons-mobile fa-flask fz-icons-mobile "></i><span
        class="fz-text-icons">Laboratorio</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia la pantalla de valores de laboratorio
      </span>
    </a>
    <a [routerLink]="['../datos-avanzados']" routerLinkActive="active" style="cursor: pointer;"
      class=" d-flex flex-column text-decoration-none align-items-center navbar-item  tooltext" style="color:#001b71 ;">
      <i class="fa-solid color-icons-mobile  fa-chart-line fz-icons-mobile "></i><span
        class="fz-text-icons">Histórico</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia la pantalla de histórico de valores de laboratorio
      </span>
    </a>
  </ng-container>
  <a style="cursor: pointer;" class=" tooltext color-circle-plus" (click)="openModalCreate()">
    <i class="fa-solid fa-circle-plus fz-icon-add "></i>
    <span class="tooltiptext px-3 py-3" style="color: grey;">
      Este botón le permite agregar una nueva alergia
    </span>
  </a>
  <span *ngIf="!isMobile" class="span-text-current ms-2">Nueva alergia</span>
</div>


<!-- create -->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayCreateModal}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center bg-color-create">
        <h4 class="modal-title " id="create-material-header">Nueva alergia</h4>
      </div>
      <div class="modal-body py-4">
        <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddedAllergy">
          <span>Alergia agregada satisfactoriamente!</span>
          <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeCreateModal()"></button>
        </div>
        <div class="alert alert-danger d-flex justify-content-between" *ngIf="displayErrorCreate">
          <span>{{errorCreate}}</span>
          <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeErrorCreate()"></button>
        </div>
        <form>
          <div class="mb-3">
            <div class="container-column-child">
              <label for="trackingValueName" class="form-label">Nombre </label>
              <div class="dropdown w-100">
                <button class="btn  dropdown-toggle button btn-outline-dark  w-100 " type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{currentAllergy?.allergyName ? currentAllergy?.allergyName : 'Seleccione una alergia'}}
                </button>
                <ul class="dropdown-menu ">
                  <li *ngFor="let item of allergies" class="" [value]="item.allergyName " style="cursor: pointer;"
                    (click)="setCurrentAllergy(item)"><a class="dropdown-item "> {{
                      item.allergyName }}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container-buttons d-flex gap-5 justify-content-center mt-5 mb-3">
            <button type="button" class="bg-transparent border-0" (click)="addAllergy()"><i
                class="fa-solid fa-circle-check color-circle-plus fs-1"></i></button>
            <button type="button" class="bg-transparent border-0 " (click)="closeCreateModal()"><i
                class="fa-regular color-trash fa-circle-xmark fs-1"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!--Delete  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayDeleteModal}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title header" id="create-material-header">Borrar Alergia</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteAllergyModal()"></button>
      </div>
      <div class="modal-body py-4">
        <p class="text-center fw-bold  mb-2"> ¿Desea borrar la alergia
          {{currentUserAllergy?.allergyName}}?</p>
        <p class="text-body-delete px-3">Recuerde que al borrar la alergia implica que usted ya concluyó su
          tratamiento, asegúrese de cumplir con su tratamiento tal y como lo indicó su médico antes de
          seleccionar esta opción. También tenga en cuenta que todos los datos sobre esta alergia se
          borrarán de su cuenta.</p>
      </div>
      <div class="modal-footer d-flex justify-content-between px-3">
        <button type="button" class="btn btn-danger text-center " (click)="deleteAllergy()">Borrar
          alergia</button>
        <button type="button" class="btn btn-secondary close-confirmation-modal"
          (click)="closeDeleteAllergyModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

