<section class="container-fluid d-flex flex-column align-items-center container-profile-edit">

  <div class="container d-flex flex-column">
    <h1 class="header text-center mb-4 py-4">Antecedentes médicos</h1>
  </div>
  <!-- Enfermedades-->
  <div class="card border-0 rounded my-3 edit-card">
    <div class="p-5">
      <h5 class="pb-4" style="color: red;">Tiene 15 minutos para utilizar esta página.</h5>
      <h5>Tiempo que queda: {{ displayTime }}</h5>
      <h2 class="pb-4 text-center" id="signup-text">Enfermedades</h2>
      <p class=" pb-4 text-center" style="color: rgb(133, 220, 133);">
        Mediante esta tabla puede ver y modificar toda la información referente a las enfermedades del paciente, así como los medicamentos que el paciente toma
        como parte del tratamiento de las enfermedades. Puede agregar enfermedades, agregar medicamentos a las enfermedades, ver la información, modificar la información
        y eliminar la información.
      </p>
      <div class="container button d-flex justify-content-end">
        <button class="btn btn-color py-2 mb-4 me-2" (click)="OpenModalCreate()">
          Añadir enfermedad
        </button>
      </div>
        <table class="table table-hover table-bordered">
            <thead class="">
                <tr class="table-light">
                    <th class="text-center " scope="col ">Nombre</th>
                    <th class="text-center" scope="col">Medicamentos</th>
                    <th class="text-center" scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody class="table-hover" *ngFor="let item of sicknesses">
                <tr>
                    <td class="text-center  pt-3" scope="row">{{item.sicknessName}}</td>
                    <td class="text-center  pt-3"><span *ngFor="let value of item.medications;let last = last">
                            {{value.medicationName}}{{ !last ? ', ' : '' }}
                        </span></td>
                    <td class="text-center">
                        <button class="btn btn-primary me-2 my-1" (click)="openViewModal(item.sicknessId!
                        )">
                        <i class="fa fa-eye"></i>
                      </button>
                        <button class="btn btn-secondary me-2  my-1" (click)="openEditModal(item.sicknessId!
                        )">
                        <i class="fa fa-pencil "></i>
                      </button>
                        <button class="btn btn-danger me-2 my-1" (click)="openDeleteModal(item.sicknessId!
                        )">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!--Delete  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayDeleteModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title header" id="create-material-header">Borrar Enfermedad</h5>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="closeDeleteSicknessModal()"></button>
            </div>
            <div class="modal-body py-4">
                <p class="text-center fw-bold  mb-2"> ¿Desea borrar la enfermedad
                    {{sicknessById?.sicknessName}}?</p>
                <p class="text-body-delete px-3">Recuerde que al borrar la enfermedad implica que usted ya concluyó su
                    tratamiento, asegúrese de cumplir con su tratamiento tal y como lo indicó su médico antes de
                    seleccionar esta opción. También tenga en cuenta que todos los datos sobre esta enfermedad se
                    borrarán de su cuenta, incluido los medicamentos.</p>
            </div>
            <div class="modal-footer d-flex justify-content-between px-3">
                <button type="button" class="btn btn-danger text-center " (click)="deleteSickness()">Borrar
                    enfermedad</button>
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)="closeDeleteSicknessModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--create Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayCreateModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title header" id="create-material-header">Agregar Enfermedad</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeCreateModal()"></button>
            </div>
            <div class="modal-body py-4">
              <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddedSickness">
                <span>Enfermedad agregada satisfactoriamente!</span>
                <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAddSickness()"></button>
              </div>
                <div class="alert alert-danger" (closed)="handleError?.()" *ngIf="errorAlert"> {{errorAlert}} </div>
                <form #formData="ngForm" (ngSubmit)="addPersonalizedSickness(formData)">
                    <div class="mb-3">
                        <label for="sicknessName" class="form-label">Nombre de la enfermedad</label>
                        <input ngModel name="sicknessName" type="text" class="form-control" id="sicknessName">
                    </div>
                    <div class="container-button d-flex justify-content-center">
                        <button type="submit" class="btn btn-green w-25">Agregar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)="closeCreateModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Ver  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayViewModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title header" id="create-material-header">Datos de la Enfermedad</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeViewModal()"></button>
            </div>

            <div class="modal-body py-4">
                <p class="text-center mb-2  header">Nombre:
                    <span class="fw-medium text-black">{{sicknessById?.sicknessName}}</span>
                </p>
                <p class="text-center" style="color: rgb(133, 220, 133);">
                  Haga click en un médicamento para ver más acciones.
                </p>
                <p class="text-center mb-2  header">Medicamentos:
                </p>
                <div class="d-flex flex-column justify-content-around align-items-center">
                  <a class="nav-link medication-link" *ngFor="let medication of sicknessById?.medications ;let last = last" (click)="goToMedications(medication)">
                      {{medication.medicationName}}
                  </a>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)="closeViewModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Edit  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayEditModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title header" id="create-material-header"> Actualización de información de la
                    Enfermedad {{sicknessById?.sicknessName}}</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)=" closeEditModal()"></button>
            </div>
            <div class="modal-body py-4">
              <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmUpdatedSickness">
                <span class="text-start">Enfermedad actualizada satisfactoriamente!</span>
                 <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmSicknesUpdate()"></button>
                </div>
                <form #formDataUpdateUserSickness="ngForm"
                    (ngSubmit)="updateSickness(formDataUpdateUserSickness)">
                    <div class="mb-3">
                        <label for="sicknessName" class="form-label">Nombre de la enfermedad</label>
                        <input type="text" class="form-control" id="sicknessName" aria-describedby="Limite superior"
                            ngModel name="sicknessName" [placeholder]="currentSickness?.sicknessName ? currentSickness?.sicknessName : '' ">
                    </div>
                    <button type="submit" class="btn btn-green mb-5">Actualizar enfermedad</button>
                </form>
                <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddMedicine">
                  <span>Medicina agregada satisfactoriamente!</span>
                  <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAddMedication()"></button>
                </div>
                <div class="alert alert-danger" (closed)="handleErrorMedication?.()" *ngIf="errorAlertMedication"> {{errorAlertMedication}} </div>
                <h5 class="mb-4 header">Agregar Medicamento</h5>
                <form #formDataAddMedication="ngForm"
                    (ngSubmit)="AddMedication(currentSicknessId!, formDataAddMedication)">
                    <div class="mb-3">
                        <label for="medicationName" class="form-label">Nombre de la medicina</label>
                        <input type="text" class="form-control" id="medicationName" aria-describedby="nombre de la medicina"
                            ngModel name="medicationName">
                    </div>
                    <div class="mb-3">
                        <label for="timeConsumption" class="form-label">¿Cada cuantas horas debe tomar el medicamento?</label>
                        <input type="number" class="form-control" id="timeConsumption" aria-describedby="Cada cuantas horas debe tomar el medicamento"
                            ngModel name="timeConsumption">
                    </div>
                    <button type="submit" class="btn btn-green">Agregar medicamento</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)=" closeEditModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Medications -->
<!--Options Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayMedicationOptionsModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Acciones</h5>
              <button type="button" class="btn-close" aria-label="Close"
                  (click)="closeOptionsMedicationModal()"></button>
          </div>

          <div class="modal-body py-4">
            <p class=" pb-4 text-center" style="color: rgb(133, 220, 133);">
              Escoga que es lo que desea hacer con el medicamento {{currentMedication?.medicationName}}.
            </p>
            <div class="d-flex">
              <button type="button" class="btn btn-primary me-2 my-1" (click)="openMedicationView()">
                Ver datos
              </button>
              <button type="button" class="btn btn-secondary me-2  my-1" (click)="openMedicationEdit()">
                Modificar datos
              </button>
              <button type="button" class="btn btn-danger me-2  my-1" (click)="openMedicationDelete()">
                Eliminar medicamento
              </button>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center  ">
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeOptionsMedicationModal()">Cerrar</button>
          </div>
      </div>
  </div>
</div>

<!--Delete  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayMedicationDeleteModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Borrar Medicamento</h5>
              <button type="button" class="btn-close" aria-label="Close"
                  (click)="closeDeleteMedicationModal()"></button>
          </div>
          <div class="modal-body py-4">
              <p class="text-center fw-bold  mb-2"> ¿Desea borrar el medicamento
                  {{currentMedication ? currentMedication.medicationName : ''}}?</p>
              <p class="text-body-delete px-3">Recuerde que al borrar el medicamento implica que ya no forma parte de
                  su tratamiento, hacer sólo esto siguiendo las instrucciones de su médico. </p>
          </div>
          <div class="modal-footer d-flex justify-content-between px-3">
              <button type="button" class="btn btn-danger text-center " (click)="deleteUserMedication()">Borrar
                  medicamento</button>
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeDeleteMedicationModal()">Cerrar</button>
          </div>

      </div>
  </div>
</div>

<!--Edit  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayMedicationEditModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title header" id="create-material-header"> Actualizar medicamento
                  {{currentMedication?.medicationName}}</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)=" closeEditMedicationModal()"></button>
          </div>
          <div class="modal-body py-4">
            <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmEditMedicine">
              <span>Medicina actualizada satisfactoriamente!</span>
              <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeEditMedicationConfirmation()"></button>
            </div>
              <form #formDataUpdateMedication="ngForm" (ngSubmit)="updateMedication(formDataUpdateMedication)">
                  <div class="mb-3">
                      <label for="medicationName" class="form-label">Nombre de la medicina</label>
                      <input type="text" class="form-control" id="medicationName"
                          aria-describedby="nombre de la medicina" ngModel name="medicationName"
                          [placeholder]="currentMedication?.medicationName ? currentMedication?.medicationName : '' ">
                  </div>
                  <div class="mb-3">
                      <label for="timeConsumption" class="form-label">¿Cada cuantas horas debe tomar el medicamento?</label>
                      <input type="number" class="form-control" id="timeConsumption"
                          aria-describedby="Cada cuantas horas debe tomar el medicamento" ngModel
                          name="timeConsumption"
                          [placeholder]="currentMedication?.timeConsumption ? currentMedication?.timeConsumption : '' ">
                  </div>
                  <button type="submit" class="btn btn-green mb-5">Actualizar enfermedad</button>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeEditMedicationModal()">Cerrar</button>
          </div>
      </div>
  </div>
</div>


<!--Ver  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayMedicationViewModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Datos del medicamento</h5>
              <button type="button" class="btn-close" aria-label="Close"
                  (click)="closeViewMedicationModal()"></button>
          </div>

          <div class="modal-body py-4">
              <p class="text-center mb-2  header">Nombre:
                  <span class="fw-medium text-black">{{currentMedication?.medicationName}}</span>
              </p>
              <p class="text-center mb-2  header">Valor actual:
                  <span class="fw-medium text-black">{{currentMedication?.timeConsumption}}</span>
              </p>
              <p class="text-center mb-2  header">Cada cuantas horas debe tomar el medicamento:
              <span class="fw-medium text-black">{{currentMedication?.timeConsumption}}</span>
              </p>
          </div>
          <div class="modal-footer d-flex justify-content-center  ">
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeViewMedicationModal()">Cerrar</button>
          </div>
      </div>
  </div>
</div>


<!--Allergies-->
<div class="card border-0 rounded my-3 edit-card">
  <div class="p-5">
    <h5 class="pb-4" style="color: red;">Tiene 15 minutos para utilizar esta página.</h5>
    <h5>Tiempo que queda: {{ displayTime }}</h5>
    <h2 class="pb-4 text-center" id="signup-text">Alergias</h2>
    <p class=" pb-4 text-center" style="color: rgb(133, 220, 133);">
      Mediante esta tabla puede ver y modificar toda la información referente a las alergias del paciente. Puede agregar alergias,
      ver la información, modificar la información y eliminar la información.
    </p>
    <div class="container button d-flex justify-content-end">
      <button class="btn btn-color py-2 mb-4 me-2" (click)="OpenAllergyModalCreate()">
        Añadir alergia
      </button>
    </div>
      <table class="table table-hover table-bordered">
          <thead class="">
              <tr class="table-light">
                  <th class="text-center " scope="col ">Nombre</th>
                  <th class="text-center" scope="col">Acciones</th>

              </tr>
          </thead>
          <tbody class="table-hover" *ngFor="let item of allergies">
              <tr>
                  <td class="text-center  pt-3" scope="row">{{item.allergyName}}</td>
                  <td class="text-center">
                      <button class="btn btn-primary me-2 my-1" (click)="openAllergyViewModal(item.allergyId!
                      )">
                      <i class="fa fa-eye"></i>
                    </button>
                      <button class="btn btn-secondary me-2  my-1" (click)="openAllergyEditModal(item.allergyId!
                      )">
                      <i class="fa fa-pencil "></i>
                    </button>
                      <button class="btn btn-danger me-2 my-1" (click)="openAllergyDeleteModal(item.allergyId!
                      )">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>


<!--Delete  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayAllergyDeleteModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Borrar Alergia</h5>
              <button type="button" class="btn-close" aria-label="Close"
                  (click)="closeDeleteAllergyModal()"></button>
          </div>
          <div class="modal-body py-4">
              <p class="text-center fw-bold  mb-2"> ¿Desea borrar la alergia
                  {{allergyById?.allergyName}}?</p>
              <p class="text-body-delete px-3">Recuerde que al borrar la alergia implica que usted ya concluyó su
                  tratamiento, asegúrese de cumplir con su tratamiento tal y como lo indicó su médico antes de
                  seleccionar esta opción. También tenga en cuenta que todos los datos sobre esta alergia se
                  borrarán de su cuenta.</p>
          </div>
          <div class="modal-footer d-flex justify-content-between px-3">
              <button type="button" class="btn btn-danger text-center " (click)="deleteAllergy()">Borrar
                  alergia</button>
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeDeleteAllergyModal()">Cerrar</button>
          </div>
      </div>
  </div>
</div>


<!--create Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayAllergyCreateModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Agregar Alergia</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="closeAllergyCreateModal()"></button>
          </div>
          <div class="modal-body py-4">
            <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddedAllergy">
              <span>Alergia agregada satisfactoriamente!</span>
              <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAddAllergy()"></button>
            </div>
              <div class="alert alert-danger" (closed)="handleAllergyError?.()" *ngIf="errorAllergyAlert"> {{errorAllergyAlert}} </div>
              <form #formDataAllergy="ngForm" (ngSubmit)="addAllergy(formDataAllergy)">
                  <div class="mb-3">
                      <label for="allergyName" class="form-label">Nombre de la alergia</label>
                      <input ngModel name="allergyName" type="text" class="form-control" id="allergyName">
                  </div>
                  <div class="container-button d-flex justify-content-center">
                      <button type="submit" class="btn btn-green w-25">Agregar</button>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeAllergyCreateModal()">Cerrar</button>
          </div>
      </div>
  </div>
</div>

<!--Ver  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayAllergyViewModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Datos de la Alergia</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="closeAllergyViewModal()"></button>
          </div>

          <div class="modal-body py-4">
              <p class="text-center mb-2  header">Nombre:
                  <span class="fw-medium text-black">{{allergyById?.allergyName}}</span>
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-confirmation-modal"
                (click)="closeAllergyViewModal()">Cerrar</button>
        </div>
      </div>
  </div>
</div>

<!--Edit  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayAllergyEditModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title header" id="create-material-header"> Actualización de información de la Alergia {{allergyById?.allergyName}}</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)=" closeAllergyEditModal()"></button>
          </div>
          <div class="modal-body py-4">
            <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmUpdatedAllergy">
              <span class="text-start">Alergia actualizada satisfactoriamente!</span>
               <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAllergyUpdate()"></button>
              </div>
              <form #formDataUpdateAllergy="ngForm"
                  (ngSubmit)="updateAllergy(formDataUpdateAllergy)">
                  <div class="mb-3">
                      <label for="allergyName" class="form-label">Nombre de la alergia</label>
                      <input type="text" class="form-control" id="allergyName" aria-describedby="Nombre del valor"
                          ngModel name="allergyName" [placeholder]="currentAllergy?.allergyName ? currentAllergy?.allergyName : '' ">
                  </div>
                  <button type="submit" class="btn btn-green mb-5">Actualizar alergia</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-confirmation-modal"
                (click)="closeAllergyEditModal()">Cerrar</button>
        </div>
      </div>
  </div>
</div>

<!--Tracking Values-->

<!--Tracking Alerts  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayTrackingAlertsModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title header" id="create-material-header">
                 Actualización de las alertas del valor monitoriables {{trackingValueById?.trackingValueName}}
                </h4>
              <button type="button" class="btn-close" aria-label="Close" (click)=" closeTrackingAlertsModal()"></button>
          </div>
          <div class="modal-body py-4">
            <p class="pb-1 text-center" style="color: rgb(133, 220, 133);">
              Este botón le permite activar o desactivar todas las alertas del valor monitoriable.
            </p>
            <div class="text-center pb-2" *ngIf="currentTrackingValue! &&  currentTrackingValue!.alertActivated === true">
              <p class="pb-1 text-center" > Todas las alertas activadas</p>
              <button type="button" class="btn btn-danger" (click)="updateTrackingAlerts()">
                Desactivar alertas
              </button>
            </div>
            <div class="text-center pb-2" *ngIf="currentTrackingValue! &&  currentTrackingValue!.alertActivated === false">
              <p class="pb-1 text-center" > Todas las alertas desactivadas</p>
              <button type="button" class="btn text-white" style="background-color: rgb(133, 220, 133);" (click)="updateTrackingAlerts()">
              Activar alertas
              </button>
            </div>
            <p class="pb-1 text-center" style="color: rgb(133, 220, 133);">
              Este botón le permite activar o desactivar las alertas del valor monitoriable en caso que el valor sea mayor al límite maximo establecido.
            </p>
            <div class="text-center pb-2" *ngIf="currentTrackingValue! &&  currentTrackingValue!.maxValueAlertActivated  === true">
              <p class="pb-1 text-center" > Alertas por valor máximo activadas</p>
              <button type="button" class="btn btn-danger" (click)="updateTrackingMaxAlerts()">
                Desactivar alertas
              </button>
            </div>
            <div class="text-center pb-2" *ngIf="currentTrackingValue! &&  currentTrackingValue!.maxValueAlertActivated  === false">
              <p class="pb-1 text-center" > Alertas por valor máximo desactivadas</p>
              <button type="button" class="btn text-white" style="background-color: rgb(133, 220, 133);" (click)="updateTrackingMaxAlerts()">
              Activar alertas
              </button>
            </div>
            <p class="pb-1 text-center" style="color: rgb(133, 220, 133);">
              Este botón le permite activar o desactivar las alertas del valor monitoriable en caso que el valor sea menor al límite mínimo establecido.
            </p>
            <div class="text-center pb-2" *ngIf="currentTrackingValue! &&  currentTrackingValue!.minValueAlertActivated  === true">
              <p class="pb-1 text-center" > Alertas por valor mínimo activadas</p>
              <button type="button" class="btn btn-danger" (click)="updateTrackingMinAlerts()">
                Desactivar alertas
              </button>
            </div>
            <div class="text-center pb-2" *ngIf="currentTrackingValue! &&  currentTrackingValue!.minValueAlertActivated  === false">
              <p class="pb-1 text-center" > Alertas por valor mínimo desactivadas</p>
              <button type="button" class="btn text-white" style="background-color: rgb(133, 220, 133);" (click)="updateTrackingMinAlerts()">
                Activar alertas
              </button>
            </div>
            <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmUpdatedTrackingAlerts">
              <span class="text-start">Valor actualizado satisfactoriamente!</span>
               <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmTrackingAlertsUpdate()"></button>
              </div>
              <form #formDataUpdateTrackingAlertsMessages="ngForm"
                  (ngSubmit)="updateTrackingAlertsMessages(formDataUpdateTrackingAlertsMessages)">
                  <div class="mb-3">
                      <label for="personalizedAlertMinValue" class="form-label">
                        Mensaje de la alerta en caso que el valor monitoriable del usuario sea inferior al valor mínimo permitido.
                      </label>
                      <textarea type="text" class="form-control" id="personalizedAlertMinValue" aria-describedby="Nombre del valor"ngModel
                      name="personalizedAlertMinValue"
                      [placeholder]="currentTrackingValue?.personalizedAlertMinValue ? currentTrackingValue?.personalizedAlertMinValue : '' "></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="personalizedAlertMaxValue" class="form-label">
                      Mensaje de la alerta en caso que el valor monitoriable del usuario sea superior al valor máximo permitido.
                    </label>
                    <textarea type="text" class="form-control" id="personalizedAlertMaxValue" aria-describedby="Nombre del valor"ngModel
                    name="personalizedAlertMaxValue"
                    [placeholder]="currentTrackingValue?.personalizedAlertMaxValue ? currentTrackingValue?.personalizedAlertMaxValue : '' "></textarea>
                </div>
                  <button type="submit" class="btn btn-green mb-5">Actualizar valor</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-confirmation-modal"
                (click)="closeTrackingAlertsModal()">Cerrar</button>
        </div>
      </div>
  </div>
</div>

<div class="card border-0 rounded my-3 edit-card">
  <div class="p-5">
    <h5 class="pb-4" style="color: red;">Tiene 15 minutos para utilizar esta página.</h5>
    <h5>Tiempo que queda: {{ displayTime }}</h5>
    <h2 class="pb-4 text-center" id="signup-text">Valores monitoriables</h2>
    <p class=" pb-4 text-center" style="color: rgb(133, 220, 133);">
      Mediante esta tabla puede ver y modificar toda la información referente a los valores monitoriables del paciente. Puede agregar valores,
      ver la información, modificar la información y eliminar la información. Si presiona el botón de alertas, podrá modificar el funcionamiento de las alertas
      del valor monitoriable.
    </p>
    <div class="container button d-flex justify-content-end">
      <button class="btn btn-color py-2 mb-4 me-2" (click)="OpenTrackingModalCreate()">
        Añadir valor
      </button>
    </div>
      <table class="table table-hover table-bordered">
          <thead class="">
              <tr class="table-light">
                  <th class="text-center " scope="col ">Nombre</th>
                  <th class="text-center" scope="col">Valor actual</th>
                  <th class="text-center" scope="col">Acciones</th>

              </tr>
          </thead>
          <tbody class="table-hover" *ngFor="let item of trackingValues">
              <tr>
                  <td class="text-center  pt-3" scope="row">{{item.trackingValueName}}</td>
                  <td class="text-center  pt-3"> {{item.currentValue}} </td>
                  <td class="text-center">
                      <button class="btn btn-primary me-2 my-1" (click)="openTrackingViewModal(item.trackingValueId!
                      )">
                      <i class="fa fa-eye"></i>
                    </button>
                      <button class="btn btn-secondary me-2  my-1" (click)="openTrackingEditModal(item.trackingValueId!
                      )">
                      <i class="fa fa-pencil "></i>
                    </button>
                    <button class="btn btn-danger me-2 my-1" (click)="openTrackingAlertsModal(item.trackingValueId!
                    )">
                    Alertas
                  </button>
                      <button class="btn btn-danger me-2 my-1" (click)="openTrackingDeleteModal(item.trackingValueId!
                      )">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>


<!--Delete  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayTrackingDeleteModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Borrar Valor</h5>
              <button type="button" class="btn-close" aria-label="Close"
                  (click)="closeDeleteTrackingValueModal()"></button>
          </div>
          <div class="modal-body py-4">
              <p class="text-center fw-bold  mb-2"> ¿Desea borrar el valor
                  {{trackingValueById?.trackingValueName}}?</p>
              <p class="text-body-delete px-3">Recuerde que al borrar el valor implica que usted ya concluyó su
                  tratamiento, asegúrese de cumplir con su tratamiento tal y como lo indicó su médico antes de
                  seleccionar esta opción. También tenga en cuenta que todos los datos sobre este valor se
                  borrarán de su cuenta.</p>
          </div>
          <div class="modal-footer d-flex justify-content-between px-3">
              <button type="button" class="btn btn-danger text-center " (click)="deleteTrackingValue()">Borrar
                  valor</button>
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeDeleteTrackingValueModal()">Cerrar</button>
          </div>
      </div>
  </div>
</div>


<!--create Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayTrackingCreateModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Agregar Valor</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="closeTrackingCreateModal()"></button>
          </div>
          <div class="modal-body py-4">
            <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddedTrackingValue">
              <span>Valor agregado satisfactoriamente!</span>
              <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAddTrackingValue()"></button>
            </div>
              <div class="alert alert-danger" (closed)="handleTrackingError?.()" *ngIf="errorTrackingAlert"> {{errorTrackingAlert}} </div>
              <form #formDataCreateValue="ngForm" (ngSubmit)="addTrackingValue(formDataCreateValue)">
                  <div class="mb-3">
                      <label for="trackingValueName" class="form-label">Nombre del valor</label>
                      <input ngModel name="trackingValueName" type="text" class="form-control" id="trackingValueName">
                  </div>
                  <div class="mb-3">
                    <label for="minLimit" class="form-label">Límite mínimo del valor</label>
                    <input ngModel name="minLimit" type="number" class="form-control" id="minLimit">
                </div>
                <div class="mb-3">
                  <label for="maxLimit" class="form-label">Límite máximo del valor</label>
                  <input ngModel name="maxLimit" type="number" class="form-control" id="maxLimit">
              </div>
              <div class="mb-3">
                <label for="currentValue" class="form-label">Valor actual</label>
                <input ngModel name="currentValue" type="number" class="form-control" id="currentValue">
              </div>
                  <div class="container-button d-flex justify-content-center">
                      <button type="submit" class="btn btn-green w-25">Agregar</button>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary close-confirmation-modal"
                  (click)="closeTrackingCreateModal()">Cerrar</button>
          </div>
      </div>
  </div>
</div>

<!--Ver  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayTrackingViewModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title header" id="create-material-header">Datos del valor</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="closeTrackingViewModal()"></button>
          </div>

          <div class="modal-body py-4">
              <p class="text-center mb-2  header">Nombre:
                  <span class="fw-medium text-black">{{trackingValueById?.trackingValueName}}</span>
              </p>
              <p class="text-center mb-2  header">Valor mínimo:
                <span class="fw-medium text-black">{{trackingValueById?.minLimit}}</span>
              </p>
              <p class="text-center mb-2  header">Valor máximo:
                <span class="fw-medium text-black">{{trackingValueById?.maxLimit}}</span>
              </p>
              <p class="text-center mb-2  header">Valor actual:
                <span class="fw-medium text-black">{{trackingValueById?.currentValue}}</span>
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-confirmation-modal"
                (click)="closeTrackingViewModal()">Cerrar</button>
        </div>
      </div>
  </div>
</div>

<!--Edit  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayTrackingEditModal}">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title header" id="create-material-header"> Actualización de información del valor {{trackingValueById?.trackingValueName}}</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)=" closeTrackingEditModal()"></button>
          </div>
          <div class="modal-body py-4">
            <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmUpdatedTrackingValue">
              <span class="text-start">Valor actualizado satisfactoriamente!</span>
               <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmTrackingValueUpdate()"></button>
              </div>
              <form #formDataUpdateTrackingValue="ngForm"
                  (ngSubmit)="updateTrackingValue(formDataUpdateTrackingValue)">
                  <div class="mb-3">
                      <label for="trackingValueName" class="form-label">Nombre del valor</label>
                      <input type="text" class="form-control" id="trackingValueName" aria-describedby="Nombre del valor"
                          ngModel name="trackingValueName" [placeholder]="currentTrackingValue?.trackingValueName ? currentTrackingValue?.trackingValueName : '' ">
                  </div>
                  <div class="mb-3">
                    <label for="minLimit" class="form-label">Límite mínimo del valor</label>
                    <input type="number" class="form-control" id="minLimit" aria-describedby="Límite mínimo del valor"
                        ngModel name="minLimit" [placeholder]="currentTrackingValue?.minLimit ? currentTrackingValue?.minLimit : '' ">
                  </div>
                  <div class="mb-3">
                    <label for="maxLimit" class="form-label">Límite máximo del valor</label>
                    <input type="number" class="form-control" id="maxLimit" aria-describedby="Límite máximo del valor"
                        ngModel name="maxLimit" [placeholder]="currentTrackingValue?.maxLimit ? currentTrackingValue?.maxLimit : '' ">
                  </div>
                  <button type="submit" class="btn btn-green mb-5">Actualizar enfermedad</button>
              </form>
              <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmUpdatedCurrentValue">
                <span>Valor actualizado satisfactoriamente!</span>
                <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAddCurrentValue()"></button>
              </div>
              <div class="alert alert-danger" (closed)="handleErrorCurrentValue()" *ngIf="errorAlertCurrentValue"> {{errorAlertCurrentValue}} </div>
              <h5 class="mb-4 header">Actualizar valor actual</h5>
              <form #formDataAddCurrentValue="ngForm"
                  (ngSubmit)="AddCurrentValue(currentTrackingValueId!, formDataAddCurrentValue)">
                  <div class="mb-3">
                    <label for="currentValue" class="form-label">Valor actual</label>
                    <input type="number" class="form-control" id="currentValue" aria-describedby="Valor actual"
                        ngModel name="currentValue" [placeholder]="currentTrackingValue?.currentValue ? currentTrackingValue?.currentValue : '' ">
                  </div>
                  <button type="submit" class="btn btn-green">Actualizar valor actual</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-confirmation-modal"
                (click)="closeTrackingEditModal()">Cerrar</button>
        </div>
      </div>
  </div>
</div>

  <div class="card border-0 rounded my-3 edit-card">
    <div class="m-5">
      <h5 class="pb-4" style="color: red;">Tiene 15 minutos para utilizar esta página.</h5>
      <h5>Tiempo que queda: {{ displayTime }}</h5>
    </div>
    <h2 class=" text-center" id="signup-text">Historial de Valores Monitoriables </h2>
    <p class=" p-5 text-center" style="color: rgb(133, 220, 133);">
      Puede buscar el historial de todos los valores monitoriables del paciente, sólo tiene que seleccionar desde que fecha y hasta que fecha desea realizar la busqueda.
      Tenga en cuenta que las fechas que ingrese no forman parte de la busqueda, por ejemplo: Si selecciona desde el 1 de julio del 2023 hasta el 1 de agosto del 2023,
      esas dos fechas no serán tomadas en cuenta. Introducir los valores en números por favor.
    </p>
    <div class="alert alert-danger" (closed)="handleErrorCurrentValue()" *ngIf="errorCurrentValue"> {{errorCurrentValue}} </div>
    <form class="form-signin mb-2 px-5" #f="ngForm" (ngSubmit)="searchCurrentValue(f)">
      <p id="signup-text">Ingresar valores en números</p>
      <label class="form-label fw-bold">Fecha de inicio</label>
      <div class="row mb-2">
        <div class="col"><input class="form-control"  type="number" placeholder="Día" ngModel name="startDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="startMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="startYear"></div>
      </div>
      <label class="form-label fw-bold">Fecha final</label>
      <div class="row">
        <div class="col"><input class="form-control" type="number" placeholder="Día" ngModel name="endDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="endMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="endYear"></div>
      </div>
      <div class="text-center pt-3 pb-2">
        <button type="submit" class="btn btn-sm" id="signup-button">Buscar</button>
      </div>
    </form>
    <div *ngIf="isLoadingValues && valuesDisplays && !valuesEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <span class="loader"></span>
    </div>
    <div *ngIf="valuesEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <p>No se encontró ningún resultado.</p>
    </div>
    <div *ngIf="!isLoadingValues && valuesDisplays" class="d-flex justify-content-center mt-2 chart-container ps-3">
      <ngx-charts-line-chart
        [legend]="legend"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        >
      </ngx-charts-line-chart>
    </div>
  </div>

  <!--<div class="card border-0 rounded my-3 edit-card">
    <h2 class="pb-4 text-center" id="signup-text">Historial del Cumplimiento del Tratamiento por Medicamento</h2>
    <div class="alert alert-danger" (closed)="handleErrorTreatment()" *ngIf="errorTreatment"> {{errorTreatment}} </div>
    <form class="form-signin mb-2 px-5" #t="ngForm" (ngSubmit)="searchTreatmentsByMedication(t)">
      <div class="dropdown text-center">
        <button class="btn btn-sm dropdown-toggle" id="signup-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ currentMedication ? currentMedication.medicationName : "Escoga el medicamento"}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let medication of medications" style="cursor: pointer;" (click)="setCurrentMedication(medication); $event.preventDefault()">
             {{medication.medicationName}} </li>
        </ul>
      </div>
      <p id="signup-text">Ingresar valores en números</p>
      <label class="form-label fw-bold">Fecha de inicio</label>
      <div class="row mb-2">
        <div class="col"><input class="form-control"  type="number" placeholder="Día" ngModel name="startDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="startMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="startYear"></div>
      </div>
      <label class="form-label fw-bold">Fecha final</label>
      <div class="row">
        <div class="col"><input class="form-control" type="number" placeholder="Día" ngModel name="endDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="endMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="endYear"></div>
      </div>
      <div class="text-center pt-3 pb-2">
        <button type="submit" class="btn btn-sm" id="signup-button">Buscar</button>
      </div>
    </form>
    <div *ngIf="isLoadingTreatments && treatmentsDisplay && !treatmentsEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <span class="loader"></span>
    </div>
    <div *ngIf="treatmentsEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <p>No se encontró ningún resultado.</p>
    </div>
    <div *ngIf="!isLoadingTreatments && treatmentsDisplay" class="d-flex justify-content-center mt-2 chart-container">
      <ngx-charts-pie-chart
      [scheme]="colorSchemeTreatment"
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      >
    </ngx-charts-pie-chart>
    </div>
    <p *ngIf="!isLoadingValues && treatmentsDisplay && !treatmentsEmpty" class="mt-1 ms-1"> {{timeFrameOfTreatment}} </p>
  </div>-->
</section>
