header {
  background-color: #00257A;
}

.modal-body {
  max-height: 300px !important;
  overflow-y: auto !important;

  max-width: 800px !important;
  overflow-x: auto !important;
}

.logo {
  max-width: 170px;
}

.tooltext {
  position: relative;
  display: inline-block;
}

.color-trash {
  color: #e87eae;
}



h2 {
  color: #6863a4;
  font-weight: 200;
  font-size: 24px;
}

.text-name {
  color: #001b71;
  font-weight: 900;
  font-size: 24px;
}

.text-name-congratulations {
  color: #001b71;
  font-weight: 900;
}

.text-congratulations {
  color: #001b71;
  font-weight: 600;
}

.text-name-medication {
  justify-content: center;
  color: #001b71;
  font-weight: 900;
  font-size: 26px;
}

.span-td {
  color: #001b71;
  font-weight: 700;
}

.span-text {
  color: #6863a4;
  font-weight: 200;
  font-size: 26px;
}

.span-text-current {
  color: #001b71;
  font-size: 26px;
  font-weight: normal;
}

.color-circle-plus {
  color: #3bd4ae;
}

.container-flex {
  align-items: end;
}

.container-flex-tracking {
  align-items: end;
}

.color-pencil {
  color: #001b71;
}

tr {
  border-bottom: 1px solid black;
}

/* Tooltip text */
.tooltext .tooltiptext {
  visibility: hidden;
  background-color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show tooltip text when hovering */
.tooltext:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.header {
  color: #00257A;
  font-weight: 600;
  font-style: italic;

}

.text-body-delete {
  text-align: justify;

}


button {
  font-weight: 500
}

.table-container {
  width: 90%;
  padding: 20px 20px;
}

.fz-icon-add {
  font-size: 60px;

}

.color-icons-mobile {
  color: #57b6e7;
  font-size: 40px;

}

.bg-medicine {
  background-color: #00257A;
  color: white;
}

.bg-color-create {
  background-color: #3bd4ae;
  color: white;

}

.bg-color-create .bg-color-update h5 {
  font-size: 25px;
}

td {
  vertical-align: middle;
}

.datos {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 120px;
}

.container-flex,
.container-flex-tracking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.bg-color-update {
  background-color: #00a0df;
  color: white;
}

.text-date {
  color: #8882b7;
}

.text-currentValue {
  color: #41418d;
}

.text-historial {
  color: #716ca9;
  font-size: 18px;
  font-weight: 400;
}

label {
  color: #001b71;
  font-weight: 200;
  font-size: 20px;
}

.text-recordatory {
  color: #001b71;
  font-weight: 400;
  text-align: center;
}

.modal-dialog {
  max-width: 700px !important;
}

.container-body {
  display: flex;
  justify-content: space-evenly;
}

.add-tracking-value-button {
  justify-content: center;
}

.container-name {
  justify-content: space-between;
}

/* grafica */

.chart-container {
  min-height: 400px;
}

.selected {
  background-color: #00a0df;
  color: white;
}

.button-search {
  background-color: #00a0df;
  color: white;
}

.button-container {
  justify-content: end;
}

.container-date {
  gap: 30px;
}

@media (max-width: 1280px) {
  .main-container {
    padding-bottom: 200px;
  }

  .modal-dialog-centered {
    padding-bottom: 150px;
  }

  .container-flex-tracking {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
}


@media (max-width: 1024px) {
  .main-container {
    padding-bottom: 700px;
  }

  .modal-dialog-centered {
    padding-bottom: 630px;
  }
}

@media (max-width: 993px) {
  .container-search {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .button-container {
    justify-content: center;
  }

  h1,
  h2 {
    text-align: center;
  }
}



@media (max-width: 870px) {
  .container-flex-tracking>div {
    flex-basis: 100%;
  }

  .container-flex>div {
    flex-basis: 100%;
  }


  .nowrap {
    white-space: nowrap;
  }

  .datos {
    margin-top: 10px;
    width: 100%;
    align-items: end;
    justify-content: end;
  }

  .buttons {
    justify-content: end;
  }

  .text-name {
    font-size: 22px;
  }

  .main-container {
    padding-bottom: 550px;
  }

}

@media (max-width: 768px) {
  .table-container {
    width: 95%;
  }

  .table-container h1,
  .table-container h2 {
    text-align: center;
  }


  .tooltext {
    position: static;

  }

  .title-mobile {
    width: 100%;
  }

  .datos {
    gap: 20px;
  }

  .main-container {
    padding-bottom: 400px;
  }

  .modal-dialog-centered {
    padding-bottom: 330px;
  }

  .container-fluid {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .container-fluid h1 {
    text-align: center;
  }

  .container-name {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .container-name h4 {
    text-align: center;

  }

  .text-name {
    font-size: 20px;

  }
}

@media (max-width: 575px) {
  .container-date {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  button {
    font-size: 14px;
  }

  .text-name-congratulations {
    font-size: 18px;
  }

  .text-congratulations {
    font-size: 16px;
  }

}

@media (max-width: 520px) {
  .table-container {
    padding: 10px 0px;
  }


  .container-body {
    flex-direction: column;
  }

  .add-tracking-value-button {
    gap: 10px;
  }


  .buttons {
    width: 30%;
  }

  .grupo-datos-text {
    width: 70%;
  }

  .datos {
    gap: 20px;
  }

  .color-icons-mobile {
    font-size: 15px;
  }

  .fz-text-icons {
    font-size: 9px;
  }

  .text-trackingValueName {
    font-size: 12px;
    padding-left: 12px;
  }

  .span-text {
    font-weight: 200;
    font-size: 14px;
  }

  .span-text-current {
    font-size: 14px;
  }

  .span-td {
    font-size: 14px;
  }

  .tooltext {
    font-size: 15px;
  }

  .main-container {
    padding-bottom: 250px;
  }

  .modal-dialog-centered {
    padding-bottom: 250px;
  }

  .text-name {
    font-size: 18px;

  }
}

@media (max-width: 460px) {
  .fz-icon-add {
    font-size: 50px;

  }

  .color-icons-mobile {
    font-size: 15px;
  }

  .fz-text-icons {
    font-size: 9px;
  }

  .text-trackingValueName {
    font-size: 12px;
    padding-left: 15px;
  }

  .span-text {
    font-weight: 200;
    font-size: 14px;
  }

  .span-text-current {
    font-size: 14px;
  }

  .span-td {
    font-size: 14px;
  }

  .tooltext {
    font-size: 15px;
  }
}



@media (max-width: 400px) {

  .nowrap {
    white-space: wrap;
  }

  .color-icons-mobile {
    font-size: 15px;
  }

  .fz-text-icons {
    font-size: 9px;
  }

  .text-trackingValueName {
    font-size: 12px;
    padding-left: 15px;
  }

  .span-text {
    font-weight: 200;
    font-size: 14px;
  }

  .span-text-current {
    font-size: 14px;
  }

  .span-td {
    font-size: 14px;
  }

  .tooltext {
    font-size: 15px;
  }

}

@media (max-width: 280px) {

  .color-icons-mobile {
    font-size: 15px;
  }

  .fz-text-icons {
    font-size: 9px;
  }

  .text-trackingValueName {
    font-size: 12px;
    padding-left: 15px;
  }

  .span-text {
    font-weight: 200;
    font-size: 12px;
  }

  .span-text-current {
    font-size: 12px;
  }

  .span-td {
    font-size: 12px;
  }

  .tooltext {
    font-size: 15px;
  }
}



/*spinner*/

.loader {
  position: relative;
  width: 40px;
  height: 60px;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
  content: "";
  background: #ff3d00;
  width: 40px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: 50% 68%;
  box-shadow: 5px 4px 5px #0004 inset;
}

.loader:after {
  transform: rotate(-45deg);
}

@keyframes heartBeat {
  0% {
    transform: scale(0.95)
  }

  5% {
    transform: scale(1.1)
  }

  39% {
    transform: scale(0.85)
  }

  45% {
    transform: scale(1)
  }

  60% {
    transform: scale(0.95)
  }

  100% {
    transform: scale(0.9)
  }
}
