<footer class="text-center text-lg-start bg-white text-muted border-top border-3 border-dark mx-5">
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <img src="../../../assets/images/logo-color-svg.svg" style="cursor: pointer;" alt="Logo" class="navbar-logo ms-2" (click)="navigateToHome()">
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a routerLink="/libro-reclamaciones" class="nav-link footer-text">Libro de reclamaciones</a>
          </p>
          <p>
            <a routerLink="/terms-conditions" class="nav-link footer-text" >Terminos y condiciones</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <p class="footer-text"><i class="fas fa-home me-3 text-secondary "></i> Dirección, Lima Perú</p>
          <p class="footer-text">
            <i class="fas fa-envelope me-3 text-secondary"></i>
            Email
          </p>
          <p class="footer-text"><i class="fas fa-phone me-3 text-secondary"></i> Número</p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <div>
            <a href="#" target="_blank" class="me-4 link-secondary">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" target="_blank" class="me-4 link-secondary">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" target="_blank" class="me-4 link-secondary">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="me-4 link-secondary">
              <i class="fab fa-tiktok"></i>
            </a>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <a href="https://api.whatsapp.com/send?phone=+51953641743&text=Hola,%20necesito%20informacion" class="whatsapp" target="_blank">
              <i class="fa fa-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center pb-5">
    Copyright © 2023 - LatidosCare | Todos los derechos reservados
  </div>
</footer>

