.logo {
  max-width: 65%;
  height: auto;
}

.whatsapp{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
	background-color:#25d366;
	color:#FFF;
  border-radius:50px;
	text-align:center;
  font-size:30px;
}
.whatsapp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.navbar-logo {
  max-width: 170px;
}

.footer-text {
  color: rgb(133, 220, 133);
  font-weight: 600;
}

.footer-title {
  color: black;
}

.border-top {
  border-color: black;
  border: thick none none none;
}
