<header>
  <nav class="navbar navbar-expand-xl  py-3 px-3 sticky-top">
    <!-- NAV CONTAINER START -->
    <div class="container-fluid ">
      <img class="logo" style="cursor: pointer;" src="../../../assets/images/Logo-colores-originales.svg"
        alt="logo-navbar" (click)="navigateToHome()">

      <!-- NAV BUTTON  -->
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- OFFCANVAS MAIN CONTAINER START -->
      <section class="offcanvas offcanvas-end " id="menuLateral" tabindex="-1">
        <div class="offcanvas-header" data-bs-theme="dark">
          <img class="logo" style="cursor: pointer;" src="../../../assets/images/Logo-colores-originales.svg" alt="logo-sidebar"
            (click)="navigateToHome()">
          <button class="btn-close text-white button-close" type="button" aria-label="Close"
            data-bs-dismiss="offcanvas"></button>
        </div>
        <!-- OFF CANVAS MENU LINKS  START-->
        <div class="offcanvas-body d-flex flex-column justify-content-between px-2  ">
          <ul class="navbar-nav fs-6 justify-content-end  ps-1">
            <li *ngIf="accountConnected && activeRole === 'User' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="enfermedades" class="links-nav nowrap d-flex  responsive"><i class="fa-solid fa-file-medical fs-3"></i>Enfermedad</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'User' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="alergias" class="links-nav nowrap d-flex  responsive"><i class="fa-solid fa-virus fs-3"></i>Alergia</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'User' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="valores-laboratorio" class="links-nav nowrap d-flex  responsive"><i class="fa-solid fa-flask fs-3"></i>Laboratorio</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'User' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="datos-avanzados" class="links-nav nowrap d-flex  responsive"><i class="fa-solid fa-chart-line fs-3"></i>Histórico</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'User' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="mi-qr" class="links-nav nowrap d-flex  responsive color-light "><i class="fa-solid fa-qrcode fs-3"></i>MiQR</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'Admin' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" (click)="toRegisterAdmin()" style="cursor: pointer;"
                class="links-nav nowrap d-flex  responsive "><i class="fa-solid fa-user-plus fs-3"></i>Crear
                Administrador</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'Admin' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" (click)="toAccount()" style="cursor: pointer;" class="links-nav d-flex  responsive "><i
                  class="fa-solid fa-users fs-3"></i>Cuentas</a>
            </li>

            <li *ngIf="accountConnected && activeRole === 'Admin' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" (click)="toSickness()" style="cursor: pointer;" class="links-nav d-flex  responsive "><i
                  class="fa-solid fa-file-medical fs-3"></i> Enfermedades</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'Admin' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" (click)="toAllergy()" style="cursor: pointer;" class="links-nav d-flex  responsive "><i
                  class="fa-solid fa-virus fs-3 "></i>Alergias</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'Admin' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" (click)="toMedicine()" style="cursor: pointer;" class="links-nav nowrap d-flex  responsive  ">
                <i class="fa-solid fa-pills fs-3"></i>Medicinas</a>
            </li>
            <li *ngIf="accountConnected && activeRole === 'Admin' " class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" (click)="toValues()" style="cursor: pointer;"
                class="links-nav nowrap d-flex  responsive "><i class="fa-solid fa-flask fs-3"></i>
                Laboratorio</a>
            </li>
            <li *ngIf="!accountConnected" class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="/#nosotros" (click)="forceNavigate('nosotros')"
                class="links-nav"> Nosotros</a>
            </li>
            <li *ngIf="!accountConnected" class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="/#servicios" (click)="forceNavigate('servicios')"
                class="links-nav nowrap"> Nuestro Servicios</a>
            </li>
            <li *ngIf="!accountConnected" class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="/#preguntas-frecuentes"
                (click)="forceNavigate('preguntas-frecuentes')" class="links-nav nowrap"> Preguntas frecuentes</a>
            </li>
            <li *ngIf="!accountConnected" class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="codigo-qr" class="links-nav nowrap">QR</a>
            </li>
            <li *ngIf="!accountConnected" class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="/login" class="links-nav"> Login</a>
            </li>
            <li *ngIf="!accountConnected" class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" routerLink="/registro-paciente" class="links-nav"> Registrarme</a>
            </li>

            <li *ngIf="accountConnected && activeRole && account" style="cursor: pointer;"
              class="navbar-item nav-item p-2 py-md-1">
              <a (click)="toProfile()" data-bs-dismiss="offcanvas" class="links-nav d-flex  responsive color-light "> <i
                  class="fa-solid fa-user fs-3"></i>Mi perfil</a>
            </li>
            <li class="navbar-item nav-item p-2 py-md-1"
              *ngIf="accountConnected && activeRole && activeRole !== 'Admin' && adminRole ">
              <a data-bs-dismiss="offcanvas" class= " color-light dropdown-item navbar-item-list  d-flex  responsive" style="cursor: pointer;"
                (click)="toAdmin()">
                <i class="fa-solid fa-user-tie fs-3"></i>
                Ir a Administrador
              </a>
            </li>

            <li *ngIf="accountConnected && activeRole && account" class="navbar-item nav-item p-2 py-md-1">
              <a data-bs-dismiss="offcanvas" class="links-nav d-flex color-light  responsive" style="cursor: pointer;"
                (click)="logoutDisplayModal()"> <i class="fa-solid fa-sign-out fs-3"></i>Salir</a>
            </li>
          </ul>

        </div>
      </section>
      <!-- OFFCANVAS MAIN CONTAINER END  -->
    </div>
  </nav>
</header>

<!--Logout Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':logoutModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-material-header">Esta seguro que desea cerrar sesión?</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="logoutHideModal()"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-danger text-center" (click)="logOut()">Cerrar Sesión</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary login-button border-0"
          (click)="logoutHideModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
