.offcanvas {
  background-color: #000c29;
}
.nowrap {
  white-space: nowrap;
}
header{
  background-color: #00257A;
  /* height: 183px; */
}
.flecha::after{
  content: none;
}
.img-perfil-user {
  position: relative;
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: center center;
  border: 4px solid #FFFFFF;
  border-radius: 132px;
}

.img-icon-user {
  position: relative;
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: center center;

}

.custom-button-search {
  color: white;
  font-size: medium;
  background-color: rgb(255, 217, 0);
  font-weight: 500;
}

.list-icon {
  display: none !important;
}

.dropdown-item:hover {
  color: rgb(0, 162, 255) !important;
}

.scrollable-dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
}

.logo {
  max-width: 170px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

li > a {
  text-decoration: none;
}
.button-close{
  color: white;
}
.navbar-nav > li > a {
  color: white;
}

.navbar-nav > li > a:hover {
  color: rgb(255, 217, 0);
}

.modal-style-title {
  color: rgb(0, 162, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.modal-style-text {
  font-size: 15px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.modal-style-text:hover {
  color: rgb(255, 217, 0);
  font-size: 15px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar-icon {
  fill: white !important;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.notification-indicator {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

a{
  color: white;
}
.responsive{
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.color-light{
  color:#90cbee !important;
}
.color-light:hover{
  color:  rgb(255, 217, 0)!important;
}
.navbar-nav{
  gap: 10px;
}
.perfil{
  flex-direction: column;
  gap: 15px;
}
.responsive-menu{
  align-items: end;
}
@media (max-width: 913px) {
  .item-space {
    margin-left: 20px;
  }

  .list-icon {
    display: block !important;
    margin-right: 10px !important;
    fill: white !important;
  }

  .navbar-item-list {
    color: white !important;
  }

  .scrollable-dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    background-color: #000c29 !important;
  }
}


@media (max-width: 769px) {
  .item-space {
    margin-left: 20px;
  }

  .list-icon {
    display: block !important;
    margin-right: 10px !important;
    fill: white !important;
  }

  .navbar-item-list {
    color: white !important;
  }

  .scrollable-dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    background-color: #000c29 !important;
  }
}

@media (max-width: 540px) {
  .item-space {
    margin-left: 20px;
  }

  .list-icon {
    display: block !important;
    margin-right: 10px !important;
    fill: white !important;
  }

  .navbar-item-list {
    color: white !important;
  }

  .scrollable-dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    background-color: #000c29 !important;
  }
}

@media (max-width: 391px) {
  .item-space {
    margin-left: 20px;
  }

  .list-icon {
    display: block !important;
    margin-right: 10px !important;
    fill: white !important;
  }

  .navbar-item-list {
    color: white !important;
  }

  .scrollable-dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    background-color: #000c29 !important;
  }
}

@media (max-width: 281px) {
  .item-space {
    margin-left: 20px;
  }

  .list-icon {
    display: block !important;
    margin-right: 10px !important;
    fill: white !important;
  }

  .navbar-item-list {
    color: white !important;
  }

  .scrollable-dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
    background-color: #000c29 !important;
  }
}

@media (min-width: 1199px) {
  .navbar-nav > li > a {
    color: white;
    font-weight: bold;
    font-family: Barlow, sans-serif;
    font-size: 15px;
  }


  .navbar-item {
    margin-top: 20px;
  }

  .navbar-icon {
    fill: black !important;
  }

}
@media (max-width: 1199px) {
  .responsive{
    flex-direction: row;
    justify-content: start;
    gap: 20px;
  }

  .navbar-nav{
    gap: 30px;
  }
  .perfil{
    flex-direction: row;
    gap: 20px;
  }
  .responsive-menu{
    align-items: start;
    flex-direction: column;
  }
}
