#navbar {
  background-color: white;
  border-color: white;
  transition: background-color 0.2s ease-in-out;
  height: 120px;
}

.navbar-logo {
  max-width: 170px;
}

.brand-name {
  color: #333333;
}

.header-link {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 220, 133);
  font-weight: normal;
  border: none;

}

.header-link:hover {
  color: rgb(28, 203, 28);
}

.close-btn {
  display: none;
}

/* For tablets and medium-sized devices */
@media (max-width: 992px) {
  .navbar-logo {
    height: 150px;
  }
  .header-link {
    font-size: 14px;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
  }

  .overlay.show {
    visibility: visible;
    opacity: 1;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 1rem;
  }
}

/* For mobile phones */
@media (max-width: 576px) {
  .navbar-logo {
    height: 150px;
  }
  .header-link {
    font-size: 12px;
  }
}
