<div class="main-container">
  <app-navbar></app-navbar>
<div class="container d-flex flex-column">
  <h1 class="header text-center mb-4 py-4">Tú  Codigo QR</h1>
</div>
<div class="d-flex justify-content-center">
  <div class=" table-container  mb-5 text-center">
    <p class="mb-5 text"> Presente este código QR a su médico para que pueda observar su información y poder darle un mejor diagnóstico.</p>
    <qrcode *ngIf="uniqueToken" [qrdata]="uniqueToken" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
</div>
<app-footer></app-footer>
</div>

<!-- Reject Modal -->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayRejectModal}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center bg-color-create">
        <h4 class="modal-title " id="create-material-header">Su paciente no le ha dado acceso a su información médica</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeRejectModal()"></button>
      </div>
      <div class="modal-body py-4">
        <p class="card-text">
          Puede cerrar la ventana.
        </p>
          <div class="container-buttons d-flex gap-5 justify-content-center mt-5 mb-3">
            <button type="button" class="btn btn-secondary close-confirmation-modal"
            (click)="closeRejectModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

