<div class="container-fluid mt-3 container-services pb-3 mb-3">
  <div class="d-flex flex-row justify-content-around">
    <div>
      <p class="services-start">Nuestro servicio</p>
      <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.</p>
    </div>
    <div class="d-flex align-items-end mb-4">
      <button class="btn btn-app">Pruebe nuestro servicio</button>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around mb-3">
    <div class="card border-0 rounded mb-2" style="width: 18rem;">
      <img src="../../../../assets/images/Heart.svg" class="card-img-top" alt="Heart">
      <div class="card-body">
        <h5 class="card-title">Caracteristica del servicio</h5>
        <p class="card-text">Nuestro servicio...</p>
      </div>
    </div>
    <div class="card border-0 rounded mb-2" style="width: 18rem;">
      <img src="../../../../assets/images/HealthShield.svg" class="card-img-top" alt="HealthShield">
      <div class="card-body">
        <h5 class="card-title">Caracteristica del servicio</h5>
        <p class="card-text">Nuestro servicio...</p>
      </div>
    </div>
    <div class="card border-0 rounded mb-2" style="width: 18rem;">
      <img src="../../../../assets/images/Tech.svg" class="card-img-top" alt="Tech">
      <div class="card-body">
        <h5 class="card-title">Caracteristica del servicio</h5>
        <p class="card-text">Nuestro servicio...</p>
      </div>
    </div>
  </div>
</div>
