<section class="container-fluid mt-lg-auto row" id="container-login">
  <div class="col-md-6" id="bg-login">
    <img class="rounded float-start image-service mb-3" src="../../../../assets/images/Medics.svg" alt="Medics">
  </div>
  <div class="col-md-5 pt-4" id="login">
    <h1 class="pb-4">Iniciar Sesión</h1>
    <div class="alert alert-danger" (closed)="handleError?.()" *ngIf="error"> {{error}} </div>
    <form class="form-signin" #formData="ngForm" (ngSubmit)="loginFun?.(formData)">
      <div class="input-group mb-3 pt-3">
        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-envelope"></i></span>
         <input type="text" id="correoUsuarioLogin" class="form-control" placeholder="Correo electrónico" required ngModel name="email">
      </div>
      <div class="input-group mb-3 pt-3">
        <button (click)="passwordFun()" class="btn btn-outline-secondary" type="button" id="button-addon1"><i class="fa-solid fa-eye"></i></button>
        <input type="password" id="claveUsuarioLogin" class="form-control" placeholder="Contraseña" required ngModel name="password"
        [type]="showPassword.value ? 'text' : 'password'">
      </div>

      <div class="text-center pt-2">
        <button type="submit" class="btn btn-sm" id="login-button">Iniciar Sesion</button>
      </div>

      <hr class="my-4">
      <div class="form-group link-group">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <p class="nav-link text-black" >¿No tienes Cuenta?</p>
          </li>
          <li class="nav-item">
            <a routerLink="/register-user" class="nav-link" id="login-text">Registrate</a>
          </li>
        </ul>
        <a class="text-center d-block nav-link" id="login-text" style="cursor: pointer;" (click)=" openRecoverPassword()">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>

  <!-- Forgot Password Modal -->
<div  class="modal" tabindex="-1" [ngStyle]="{'display':displayPasswordModal}">
  <div class=" modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header header">
        <h1 class="modal-title header-text fs-5" id="exampleModalLabel" style="color: rgb(133, 220, 133);">¿Olvidaste tu contraseña?</h1>
        <button type="button" class="btn-close"  aria-label="Close" (click)="closePasswordModal?.()"></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold">Ingrese su correo para que podamos enviarle un enlace para recuperar su cuenta</p>
        <form #recoverData="ngForm" (ngSubmit)="recoverFun?.(recoverData)">
          <div class="container">
            <div class="alert alert-danger" (closed)="handleErrorRecover?.()" *ngIf="errorRecover"> {{errorRecover}} </div>
            <div class="row mx-3 my-2">
              <input type="email" class="form-control" placeholder="Your email" id="email" required ngModel name="email">
            </div>
            <div class="row d-flex justify-content-center mx-2 mb-2">
              <button type="submit" class="btn boton-publicacion" id="login-button" >Recuperar cuenta</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  (click)="closePasswordModal?.()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

            <!--Recover Password Modal Confirmation-->
            <div class="modal" tabindex="-1" [ngStyle]="{'display':displayRecoverPasswordConfirmation}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="create-material-header">Le hemos enviado un correo electrónico con un enlace para que recupere su cuenta</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeRecoverPasswordConfirmation?.()"></button>
                  </div>
                  <div class="modal-body">
                    <p class="fw-bold">Puede cerrar esta ventana</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-confirmation-modal" (click)="closeRecoverPasswordConfirmation?.()">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

</section>

