<app-profile-edit
[handleErrorEdit]="userHandleErrorEdit.bind(this)"
[errorEdit]="userErrorEdit"
[editFun]=" userEditFun.bind(this)"
[handleErrorPassword]="userHandleErrorPassword.bind(this)"
[errorPassword]="userErrorPassword"
[passwordEditFun]="userPasswordEditFun.bind(this)"
[passwordFun]="userPasswordFun.bind(this)"
[showPassword]="userShowPassword"
[newPasswordFun]="userNewPasswordFun.bind(this)"
[newShowPassword]="userNewShowPassword"
[editHideModal]="hideModal.bind(this)"
[editModal]="confirmationModal"
[inputForm]="userInputForm"
> </app-profile-edit>
