.login-button {
  color: white;
  font-size: medium;
  background-color: rgb(133, 220, 133);
  font-weight: 500;
  padding: 10px 40px 10px 40px
}

#create-material-header {
  color: rgb(133, 220, 133);
}

@media (max-width: 1280px) {
  .main-container {
    padding-bottom: 200px;
  }
}

@media (max-width: 1024px) {
  .main-container {
    padding-bottom: 700px;
  }
}

@media (max-width: 820px) {
  .main-container {
    padding-bottom: 550px;
  }
}

@media (max-width: 769px) {
  .main-container {
    padding-bottom: 400px;
  }
}

@media (max-width: 500px) {
  .main-container {
    padding-bottom: 250px;
  }
}




