<app-profile-edit
[handleErrorEdit]="adminHandleErrorEdit.bind(this)"
[errorEdit]="adminErrorEdit"
[editFun]=" adminEditFun.bind(this)"
[handleErrorPassword]="adminHandleErrorPassword.bind(this)"
[errorPassword]="adminErrorPassword"
[passwordEditFun]="adminPasswordEditFun.bind(this)"
[passwordFun]="adminPasswordFun.bind(this)"
[showPassword]="adminShowPassword"
[newPasswordFun]="adminNewPasswordFun.bind(this)"
[newShowPassword]="adminNewShowPassword"
[editHideModal]="hideModal.bind(this)"
[editModal]="confirmationModal"
[inputForm]="adminInputForm"
> </app-profile-edit>
