.container-login {
  display: flex;
  }


  .login-header {
    color: rgb(255, 217, 0);
  }
  .login{
    width: 50%;
  }

  .boton-publicacion {
    width: 100%;
    max-width: 250px;
    height: 42px;
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  .login-button {
    color: white;
    font-size: medium;
    background-color: rgb(0, 162, 255);
    font-weight: 500;
    padding: 10px 40px 10px 40px
  }

  .bg-login{
    width: 50%;
  }

  .login {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .login-text {
    color: rgb(0, 162, 255);
    font-weight: 600;
  }

  form.form-signin{
    max-width: 480px;
    padding-bottom: 40px;
  }

  form.form-signin label {
    font-size: 16px;
  }

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

   @media (max-width: 992px) {
    .container-login{
      flex-direction: column;
    }
    .login{
      width: 100%;
    }
    .bg-login{
      width: 100%;
    }
  }
