<section class="container-fluid d-flex flex-column align-items-center container-profile-edit">
  <div class="card border-0 rounded my-3 edit-card">
    <h2 class="pb-4 text-center" id="signup-text">Historial de Valores Monitoriables </h2>
    <div class="alert alert-danger" (closed)="handleErrorCurrentValue()" *ngIf="errorCurrentValue"> {{errorCurrentValue}} </div>
    <form class="form-signin mb-2 px-5" #f="ngForm" (ngSubmit)="searchCurrentValue(f)">
      <p id="signup-text">Ingresar valores en números</p>
      <label class="form-label fw-bold">Fecha de inicio</label>
      <div class="row mb-2">
        <div class="col"><input class="form-control"  type="number" placeholder="Día" ngModel name="startDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="startMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="startYear"></div>
      </div>
      <label class="form-label fw-bold">Fecha final</label>
      <div class="row">
        <div class="col"><input class="form-control" type="number" placeholder="Día" ngModel name="endDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="endMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="endYear"></div>
      </div>
      <div class="text-center pt-3 pb-2">
        <button type="submit" class="btn btn-sm" id="signup-button">Buscar</button>
      </div>
    </form>
    <div *ngIf="isLoadingValues && valuesDisplays && !valuesEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <span class="loader"></span>
    </div>
    <div *ngIf="valuesEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <p>No se encontró ningún resultado.</p>
    </div>
    <div *ngIf="!isLoadingValues && valuesDisplays" class="d-flex justify-content-center mt-2 chart-container ps-3">
      <ngx-charts-line-chart
        [legend]="legend"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        >
      </ngx-charts-line-chart>
    </div>
  </div>

  <!--<div class="card border-0 rounded my-3 edit-card">
    <h2 class="pb-4 text-center" id="signup-text">Historial del Cumplimiento del Tratamiento por Medicamento</h2>
    <div class="alert alert-danger" (closed)="handleErrorTreatment()" *ngIf="errorTreatment"> {{errorTreatment}} </div>
    <form class="form-signin mb-2 px-5" #t="ngForm" (ngSubmit)="searchTreatmentsByMedication(t)">
      <div class="dropdown text-center">
        <button class="btn btn-sm dropdown-toggle" id="signup-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ currentMedication ? currentMedication.medicationName : "Escoga el medicamento"}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let medication of medications" style="cursor: pointer;" (click)="setCurrentMedication(medication); $event.preventDefault()">
             {{medication.medicationName}} </li>
        </ul>
      </div>
      <p id="signup-text">Ingresar valores en números</p>
      <label class="form-label fw-bold">Fecha de inicio</label>
      <div class="row mb-2">
        <div class="col"><input class="form-control"  type="number" placeholder="Día" ngModel name="startDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="startMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="startYear"></div>
      </div>
      <label class="form-label fw-bold">Fecha final</label>
      <div class="row">
        <div class="col"><input class="form-control" type="number" placeholder="Día" ngModel name="endDay"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Mes" ngModel name="endMonth"></div>
        <div class="col"><input class="form-control" type="number" placeholder="Año" ngModel name="endYear"></div>
      </div>
      <div class="text-center pt-3 pb-2">
        <button type="submit" class="btn btn-sm" id="signup-button">Buscar</button>
      </div>
    </form>
    <div *ngIf="isLoadingTreatments && treatmentsDisplay && !treatmentsEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <span class="loader"></span>
    </div>
    <div *ngIf="treatmentsEmpty" class="d-flex justify-content-center mt-2 chart-container">
      <p>No se encontró ningún resultado.</p>
    </div>
    <div *ngIf="!isLoadingTreatments && treatmentsDisplay" class="d-flex justify-content-center mt-2 chart-container">
      <ngx-charts-pie-chart
      [scheme]="colorSchemeTreatment"
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      >
    </ngx-charts-pie-chart>
    </div>
    <p *ngIf="!isLoadingValues && treatmentsDisplay && !treatmentsEmpty" class="mt-1 ms-1"> {{timeFrameOfTreatment}} </p>
  </div>-->
</section>
