<div class="container-root-table d-flex justify-content-center">
  <div class=" table-container  mb-4">
    <h1 *ngIf="!isMobile" class=" mb-0 pt-4 pb-1">Seguimiento de Laboratorio</h1>
    <h1 *ngIf="isMobile" class=" mb-0 pt-4 pb-3 text-center">Seguimiento de Laboratorio</h1>
    <hr class="mt-0" *ngIf="isMobile">

    <h2 *ngIf="!isMobile">variables de lab, variables de monitoreo</h2>
    <table class="table table-hover ">
      <tbody class="table-hover " *ngFor="let item of userTrackingValues">
        <tr>
          <div class="container-flex">
            <div class="text-center text-trackingValueName">{{item.trackingValueName}}</div>
            <div class="datos">
              <div class="grupo-datos text-center d-flex flex-column">
                <span class="span-td">Mínimo</span>
                <span class="span-text">{{item.minLimit}}</span>
              </div>
              <div class="grupo-datos text-center d-flex flex-column">
                <span class="span-td">Máximo</span>
                <span class="span-text">{{item.maxLimit}}</span>
              </div>
              <div class="grupo-datos text-center d-flex flex-column">
                <span class="span-td nowrap">Último registro</span>
                <span class="span-text-current">{{item.currentValue}}</span>
              </div>
              <div class="grupo-datos buttons text-center d-flex gap-3">
                <a style="cursor: pointer;" class="me-2  tooltext color-trash" (click)="openDeleteModal(item
                )">
                  <i class="fa fa-trash fs-4"></i>
                  <span class="tooltiptext px-3 py-3" style="color: red;">
                    Este botón le permite eliminar un valor
                  </span>
                </a>
                <a style="cursor: pointer;" class="color-pencil  me-2  tooltext" (click)="openEditModal(item
                )">
                  <i class="fa-regular fa-pen-to-square fs-4"></i>
                  <span class="tooltiptext px-3 py-3" style="color: grey;">
                    Este botón le permite editar un valor
                  </span>
                </a>
              </div>
            </div>
          </div>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class=" add-tracking-value-button  mx-2 d-flex  align-items-center mb-5 pb-3 mt-1">
  <ng-container *ngIf="isMobile">
    <a [routerLink]="['../enfermedades']" routerLinkActive="active"  style="cursor: pointer;" class="d-flex flex-column text-decoration-none align-items-center navbar-item   tooltext" style="color:#001b71 ;">
      <i class="fa-solid  fa-file-medical color-icons-mobile fz-icons-mobile "></i><span class="fz-text-icons">Enfermedad</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia a enfermedad
      </span>
    </a>

    <a [routerLink]="['../alergias']" routerLinkActive="active" style="cursor: pointer;" class=" d-flex flex-column text-decoration-none align-items-center navbar-item  tooltext" style="color:#001b71 ;" >
      <i class="fa-solid  fa-virus fz-icons-mobile color-icons-mobile"></i><span class="fz-text-icons">Alergia</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia a alergia
      </span>
    </a>
    <a [routerLink]="['../valores-laboratorio']" routerLinkActive="active" style="cursor: pointer;" class=" d-flex flex-column text-decoration-none align-items-center navbar-item  tooltext" style="color:#001b71 ;" >
      <i class="fa-solid color-icons-mobile fa-flask fz-icons-mobile "></i><span class="fz-text-icons">Laboratorio</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia a laboratorio
      </span>
    </a>
    <a  [routerLink]="['../datos-avanzados']" routerLinkActive="active" style="cursor: pointer;" class=" d-flex flex-column text-decoration-none align-items-center navbar-item  tooltext" style="color:#001b71 ;" >
      <i class="fa-solid color-icons-mobile  fa-chart-line fz-icons-mobile "></i><span class="fz-text-icons">Histórico</span>
      <span class="tooltiptext px-3 py-3" style="color: grey;">
        Este botón le permite navegar hacia a histórico
      </span>
    </a>
  </ng-container>
  <a style="cursor: pointer;" class=" tooltext color-circle-plus" (click)="openModalCreate()">
    <i class="fa-solid fa-circle-plus fz-icon-add "></i>
    <span class="tooltiptext px-3 py-3" style="color: grey;">
      Este botón le permite agregar un nuevo valor para realizar seguimiento
    </span>
  </a>
  <span *ngIf="!isMobile" class="span-text-current ms-2">Nuevo resultado de laboratorio</span>
</div>

<!--Delete  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayDeleteModal}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title header" id="create-material-header">Borrar Valor</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteTrackingValueModal()"></button>
      </div>
      <div class="modal-body py-4">
        <p class="text-center fw-bold  mb-2"> ¿Desea borrar el valor
          {{currentUserTrackingValue?.trackingValueName}}?</p>
        <p class="text-body-delete px-3">Recuerde que al borrar el valor implica que usted ya concluyó su
          tratamiento, asegúrese de cumplir con su tratamiento tal y como lo indicó su médico antes de
          seleccionar esta opción. También tenga en cuenta que todos los datos sobre este valor se
          borrarán de su cuenta.</p>
      </div>
      <div class="modal-footer d-flex justify-content-between px-3">
        <button type="button" class="btn btn-danger text-center " (click)="deleteTrackingValue()">Borrar
          valor</button>
        <button type="button" class="btn btn-secondary close-confirmation-modal"
          (click)="closeDeleteTrackingValueModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!--create Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayCreateModal}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center bg-color-create">
        <h4 class="modal-title " id="create-material-header">Nuevo resultado de laboratorio</h4>
      </div>
      <div class="modal-body py-4">
        <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddedTrackingValue">
          <span>Valor agregado satisfactoriamente!</span>
          <button type="button" class="btn-close text-end" aria-label="Close"
            (click)="closeConfirmAddTrackingValue()"></button>
        </div>
        <div class="alert alert-danger" (closed)="handleError?.()" *ngIf="errorCreate"> {{errorCreate}} </div>
        <form #formData="ngForm" (ngSubmit)="addTrackingValue(formData)">
          <div class="mb-3">
            <div class="container-column-child">
              <label for="trackingValueName" class="form-label">Nombre </label>
              <div class="dropdown w-100">
                <button class="btn  dropdown-toggle button btn-outline-dark  w-100 " type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{currentTrackingValue?.trackingValueName ? currentTrackingValue?.trackingValueName : 'Seleccione un
                  valor'}}
                </button>
                <ul class="dropdown-menu ">
                  <li *ngFor="let item of trackingValues" class="" [value]="item.trackingValueName "
                    style="cursor: pointer;" (click)="setCurrentTrackingValue(item)"><a class="dropdown-item "> {{
                      item.trackingValueName }}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="minLimit" class="form-label"> Valor mínimo </label>
            <input ngModel name="minLimit" type="number" class="form-control" id="minLimit">
          </div>
          <div class="mb-3">
            <label for="maxLimit" class="form-label"> Valor máximo </label>
            <input ngModel name="maxLimit" type="number" class="form-control" id="maxLimit">
          </div>
          <div class="mb-3">
            <label for="currentValue" class="form-label">Último registro</label>
            <input ngModel name="currentValue" type="number" class="form-control" id="currentValue">
          </div>
          <div class="container-buttons d-flex gap-5 justify-content-center mt-5 mb-3">
            <button type="submit" class="bg-transparent border-0"><i
                class="fa-solid fa-circle-check color-circle-plus fs-1"></i></button>
            <button type="button" class="bg-transparent border-0 " (click)="closeCreateModal()"><i
                class="fa-regular color-trash fa-circle-xmark fs-1"></i></button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<!--Edit  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayEditModal}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center bg-color-update">
        <h4 class="modal-title " id="create-material-header"> Actualizar valores
        </h4>
      </div>
      <div class="modal-body py-4">
        <h6 class="text-recordatory mb-4">Recuerde realizar sus monitoreos según las indicaciones de su médico</h6>
        <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmUpdatedTrackingValue">
          <span class="text-start">Valor actualizado satisfactoriamente!</span>
          <button type="button" class="btn-close text-end" aria-label="Close"
            (click)="closeConfirmTrackingValueUpdate()"></button>
        </div>
        <form #formDataUpdateTrackingValue="ngForm" (ngSubmit)="updateTrackingValue(formDataUpdateTrackingValue)">
          <div class="container-body">
            <div class="container-body-1">
              <div class="mb-3">
                <label for="minLimit" class="form-label">Valor mínimo</label>
                <input type="number" class="form-control" id="minLimit" aria-describedby="Límite mínimo del valor"
                  ngModel name="minLimit"
                  [ngModel]="currentUserTrackingValue?.minLimit ? currentUserTrackingValue?.minLimit : ''">
              </div>
              <div class="mb-3">
                <label for="maxLimit" class="form-label">Valor máximo</label>
                <input type="number" class="form-control" id="maxLimit" aria-describedby="Límite máximo del valor"
                  ngModel name="maxLimit"
                  [ngModel]="currentUserTrackingValue?.maxLimit ? currentUserTrackingValue?.maxLimit : '' ">
              </div>
            </div>
            <div class="container-body-2">
              <div class="mb-3">
                <label for="currentValue" class="form-label">Último registro</label>
                <input type="number" class="form-control" id="currentValue" aria-describedby="Valor actual" ngModel
                  name="currentValue"
                  [ngModel]="currentUserTrackingValue?.currentValue ? currentUserTrackingValue?.currentValue : '' ">
              </div>
              <div class="container-historial mb-3">
                <h6 class="text-historial">
                  Registros anteriores </h6>
                <div *ngFor=" let item of currentUserTrackingValue?.currentValues | slice:-3"
                  class="grupo-historial d-flex gap-4">
                  <span class="text-date text-capitalize">{{ item.createdAt | date: 'MMM/yyyy' }}</span>
                  <span class="text-currentValue">{{item.currentNumber}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="container-buttons d-flex gap-5 justify-content-center mt-5 mb-3">
            <button type="submit" class="bg-transparent border-0"><i
                class="fa-solid fa-circle-check color-circle-plus fs-1"></i></button>
            <button type="button" class="bg-transparent border-0 " (click)="closeEditModal()"><i
                class="fa-regular color-trash fa-circle-xmark fs-1"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
