<div class="container d-flex flex-column">
    <h1 class="header text-center mb-4 py-4">Realiza el seguimiento a tus enfermedades</h1>

</div>
<div class="container-root-table d-flex justify-content-center">
    <div class=" table-container  mb-5">
      <div class="container button d-flex justify-content-end">
        <button class="btn btn-color py-2 mb-4 me-2 tooltext" (click)="OpenModalCreate()">
          Añadir enfermedad
          <span class="tooltiptext" style="color: rgb(133, 220, 133);">
            Este botón le permite agregar una nueva enfermedad para realizar seguimiento
          </span>
        </button>
      </div>
        <table class="table table-hover table-bordered">
            <thead class="">
                <tr class="table-light">
                    <th class="text-center " scope="col ">Nombre</th>
                    <th class="text-center" scope="col">Medicamentos</th>
                    <th class="text-center" scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody class="table-hover" *ngFor="let item of sicknesses">
                <tr>
                    <td class="text-center  pt-3" scope="row">{{item.sicknessName}}</td>
                    <td class="text-center  pt-3"><span *ngFor="let value of item.medications;let last = last">
                            {{value.medicationName}}{{ !last ? ', ' : '' }}
                        </span></td>
                    <td class="text-center">
                        <button class="btn btn-primary me-2 my-1 tooltext" (click)="openViewModal(item.sicknessId!
                        )">
                        <i class="fa fa-eye"></i>
                        <span class="tooltiptext" style="color: blue;">
                          Este botón le permite ver todos los datos de una enfermedad
                        </span>
                      </button>
                        <button class="btn btn-secondary me-2  my-1 tooltext" (click)="openEditModal(item.sicknessId!
                        )">
                        <i class="fa fa-pencil "></i>
                        <span class="tooltiptext" style="color: grey;">
                          Este botón le permite editar una enfermedad
                        </span>
                      </button>
                        <button class="btn btn-danger me-2 my-1 tooltext" (click)="openDeleteModal(item.sicknessId!
                        )">
                        <i class="fa fa-trash"></i>
                        <span class="tooltiptext" style="color: red;">
                          Este botón le permite eliminar una enfermedad
                        </span>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!--Delete  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayDeleteModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title header" id="create-material-header">Borrar Enfermedad</h5>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="closeDeleteSicknessModal()"></button>
            </div>
            <div class="modal-body py-4">
                <p class="text-center fw-bold  mb-2"> ¿Desea borrar la enfermedad
                    {{sicknessById?.sicknessName}}?</p>
                <p class="text-body-delete px-3">Recuerde que al borrar la enfermedad implica que usted ya concluyó su
                    tratamiento, asegúrese de cumplir con su tratamiento tal y como lo indicó su médico antes de
                    seleccionar esta opción. También tenga en cuenta que todos los datos sobre esta enfermedad se
                    borrarán de su cuenta, incluido los medicamentos.</p>
            </div>
            <div class="modal-footer d-flex justify-content-between px-3">
                <button type="button" class="btn btn-danger text-center " (click)="deleteSickness()">Borrar
                    enfermedad</button>
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)="closeDeleteSicknessModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--create Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayCreateModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title header" id="create-material-header">Agregar Enfermedad</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeCreateModal()"></button>
            </div>
            <div class="modal-body py-4">
              <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddedSickness">
                <span>Enfermedad agregada satisfactoriamente!</span>
                <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAddSickness()"></button>
              </div>
                <div class="alert alert-danger" (closed)="handleError?.()" *ngIf="errorAlert"> {{errorAlert}} </div>
                <form #formData="ngForm" (ngSubmit)="addPersonalizedSickness(formData)">
                    <div class="mb-3">
                        <label for="sicknessName" class="form-label">Nombre de la enfermedad</label>
                        <input ngModel name="sicknessName" type="text" class="form-control" id="sicknessName">
                    </div>
                    <div class="container-button d-flex justify-content-center">
                        <button type="submit" class="btn btn-green w-25">Agregar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)="closeCreateModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Ver  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayViewModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title header" id="create-material-header">Datos de la Enfermedad</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeViewModal()"></button>
            </div>

            <div class="modal-body py-4">
                <p class="text-center mb-2  header">Nombre:
                    <span class="fw-medium text-black">{{sicknessById?.sicknessName}}</span>
                </p>
                <p class="text-center mb-2  header">Medicamentos:
                    <span class="fw-medium text-black" *ngFor="let value of sicknessById?.medications ;let last = last">
                        {{value.medicationName}}{{ !last ? ', ' : '' }}
                    </span>
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn  btn-green tooltext" (click)="goToMedications(sicknessById?.sicknessId!)">
                    Modificar medicamentos
                    <span class="tooltiptext" style="color: rgb(133, 220, 133);">
                        Este botón le permite ir a una página donde puede modificar los datos de sus medicamentos
                      </span>
                </button>
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)="closeViewModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Edit  Modal-->
<div class="modal" tabindex="-1" [ngStyle]="{'display':displayEditModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title header" id="create-material-header"> Actualización de información de la
                    Enfermedad {{sicknessById?.sicknessName}}</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)=" closeEditModal()"></button>
            </div>
            <div class="modal-body py-4">
              <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmUpdatedSickness">
                <span class="text-start">Enfermedad actualizada satisfactoriamente!</span>
                 <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmSicknesUpdate()"></button>
                </div>
                <form #formDataUpdateUserSickness="ngForm"
                    (ngSubmit)="updateSickness(formDataUpdateUserSickness)">
                    <div class="mb-3">
                        <label for="sicknessName" class="form-label">Nombre de la enfermedad</label>
                        <input type="text" class="form-control" id="sicknessName" aria-describedby="Limite superior"
                            ngModel name="sicknessName" [placeholder]="currentSickness?.sicknessName ? currentSickness?.sicknessName : '' ">
                    </div>
                    <button type="submit" class="btn btn-green mb-5">Actualizar enfermedad</button>
                </form>
                <div class="alert alert-success d-flex justify-content-between" *ngIf="confirmAddMedicine">
                  <span>Medicina agregada satisfactoriamente!</span>
                  <button type="button" class="btn-close text-end" aria-label="Close" (click)="closeConfirmAddMedication()"></button>
                </div>
                <div class="alert alert-danger" (closed)="handleErrorMedication?.()" *ngIf="errorAlertMedication"> {{errorAlertMedication}} </div>
                <h5 class="mb-4 header">Agregar Medicamento</h5>
                <form #formDataAddMedication="ngForm"
                    (ngSubmit)="AddMedication(currentSicknessId!, formDataAddMedication)">
                    <div class="mb-3">
                        <label for="medicationName" class="form-label">Nombre de la medicina</label>
                        <input type="text" class="form-control" id="medicationName" aria-describedby="nombre de la medicina"
                            ngModel name="medicationName">
                    </div>
                    <div class="mb-3">
                        <label for="timeConsumption" class="form-label">¿Cada cuantas horas debe tomar el medicamento?</label>
                        <input type="number" class="form-control" id="timeConsumption" aria-describedby="Cada cuantas horas debe tomar el medicamento"
                            ngModel name="timeConsumption">
                    </div>
                    <button type="submit" class="btn btn-green">Agregar medicamento</button>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)=" goToMedications(currentSicknessId!)" type="button" class="btn btn-green text-center me-2 tooltext">
                    Modificar medicamentos
                    <span class="tooltiptext" style="color: rgb(133, 220, 133);">
                        Este botón le permite ir a una página donde puede modificar los datos de sus medicamentos
                      </span>
                </button>
                <button type="button" class="btn btn-secondary close-confirmation-modal"
                    (click)=" closeEditModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
