.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

*{scroll-behavior: smooth;}

body {
  overflow: visible !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}

h1 {
  /* color: #00a0df !important; */
  color: #005C85 !important;
  font-weight: 100  !important;

}
